body {
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#station-search {
  width: 280px;
}

#station-list {
  background: rgba(58, 57, 57, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 10px 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

small {
  color: whitesmoke;
  font-size: xx-small;
}

.station {
  background-color: transparent;
  padding: 4px 10px 5px 10px;
  border-bottom: 1px solid darkgray;
  font-size: large;
  color: whitesmoke;
}

.station:hover small {
  color: whitesmoke;
}

.station:hover {
  cursor: pointer;
  background-color: rgba(0,153,51, 0.7);
  color: whitesmoke;
}

#result-view {
  background: rgba(58, 57, 57, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 10px 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: whitesmoke;
}

.headline {
  margin-top: 10px;
  margin-bottom: 15px;
}

.headline:hover {
  cursor: pointer;
  color:rgba(0,153,51, 0.7);
}

.toprow {
  font-weight: bold;
  color: whitesmoke;
}

.timetable-even {
  background-color: gray;
  color: white;
}

.timetable-even, .timetable-odd {
  padding: 5px 5px 5px 5px;
}

.red {
  color: darksalmon;
  font-weight: bold;
}

.Y, .X, .U, .L, .E, .A, .I, .P, .K, .T, .R, .D, .Z, .M {
  width: 28px;
  height: 28px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  margin: auto;
}

.Y, .X, .U, .L, .E, .A {
  background-color:#009933;
}

.I, .P, .K, .T, .R, .D {
  background-color: dodgerblue;
}

.Z {
  background-color: firebrick;
}

.M {
  background-color: darkgoldenrod;
}

@media (orientation: portrait) {
  body {
    background-image: url("background2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #arrivals {
    margin-top: 15px;
  }
  #result-view {
    font-size:  6px;
  }

  .Y, .X, .U, .L, .E, .A, .I, .P, .K, .T, .R, .D, .Z, .M {
    width: 20px;
    height: 20px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin: auto;
  }
}