{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}TrainHop{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static 'trainhop/styles.css' %}" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a id="trainhop" class="navbar-brand" href="{% url 'index' %}">TrainHop</a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Station" aria-label="Search"
              id="station-search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="station-submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="body">
    {% block body %}
    {% endblock %}
    {% block script %}
    <script src="{% static 'trainhop/trainhop.js' %}"></script>
    {% endblock %}
  </div>
</body>

</html>